<div class="row">
  <div class="large-12 small-12 columns">
    <label>Résidence du patient:
      <!-- TODO -->
      {{input type="text" value=residence placeholder="Résidence du patient"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <label>Age du patient:
      {{input type="text" value=age placeholder="Age du patient"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <label>Autonomie du patient:
      {{input type="text" value=autonomy placeholder="Autonomie du patient"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <label>Mobilité du patient:
      {{input type="text" value=mobility placeholder="Mobilité du patient"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <label>Capacités cognitives du patient:
      {{input type="text" value=cognitive_skills placeholder="Capacités cognitives du patient"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <label>Autres détails importans:
      {{input type="text" value=patient_details placeholder="Autre détails importants"}}
    </label>
  </div>
</div>
