<h4>{{category.name}}</h4>
{{#each question in category.questions itemController="question"}}
  <div class="row">
    <div class="large-12 small-6 columns">
      {{#if question.isString}}
        <label>{{question.name}}
          <input type="text" {{bind-attr id=question.id value=question.answer.answer placeholder=question.placeholder}}>
        </label>
      {{/if}}
      {{#if question.isRadio}}
        <label>{{question.name}}</label>
        {{#each choice in question.choices}}
          <input type="radio" {{bind-attr name=question.name value=choice.content id=choice.content}}>
          <label {{bind-attr for=choice.content}}>{{choice.content}}</label>
        {{/each}}
      {{/if}}
      {{#if question.isCheckbox}}
        <label>{{question.name}}</label>
        {{#each choice in question.choices}}
          <input type="checkbox" {{bind-attr name=question.name value=choice.content id=choice.content}}>
          <label {{bind-attr for=choice.content}}>{{choice.content}}</label>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/each}}
{{#each children_categories}}
  {{render "category" this}}
{{/each}}
